{{- $email := promptString "email" -}}
{{- $location := promptString "location (work or personal)" -}}
[data]
    email = "{{ $email }}"
    location = "{{ $location }}"

[merge]
    command = "opendiff"
    args = ["{{ .Destination }}", "{{ .Source }}"]
