# Set arguments for all `brew install --cask` commands
cask_args appdir: "/Applications", require_sha: true
tap 'homebrew/cask-fonts'

# Extendable version manager with support for Ruby, Node.js, Erlang & more
brew 'asdf'
# Command-line fuzzy finder written in Go
brew 'fzf'
# Code-search similar to ack
brew 'the_silver_searcher'

# Password manager that keeps all password secure behind one password
cask '1password'
# Application launcher and productivity software
cask 'alfred'
# Google Chrome
cask 'google-chrome', args: { require_sha: false }
# Inconsolata font
cask 'font-inconsolata-for-powerline', args: { require_sha: false }
# Terminal emulator as alternative to Apple's Terminal app
cask 'iTerm2'
# Move and resize windows using keyboard shortcuts or snap areas
cask 'rectangle'
# Native graphical client for the git version control system
cask 'rowanj-gitx'
# Music streaming service
cask 'spotify', args: { require_sha: false }
# Open-source code editor
cask 'visual-studio-code'
# Desktop client for WhatsApp
cask 'whatsapp'
